
.widget-one-bus-away {
  background-color: #4183C5;
  color: white;
  border: 5px solid rgba(255,255,255, 0.6)
}

.route-info {
  line-height: 24px;
  color: white;
  font-size: 14px;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.route-details {
  font-size: 10px;
}

.route {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-style: solid none;

  .route-name, .route-etas {
    font-size: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.route-name {
  width: 30%;
}

.route-etas {
  width: 70%;
}

.target-name {
  border: 3px solid black;
  border-style: solid none;
  font-size: 24px;
}

.title {
  font-size: 28px;
}

table {
  th {
    color: black;
    font-size: 16px;
  }
}

.target {
  margin-bottom: 60px;
}
