// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #A14F80;

$heavy-color:    rgba(255, 255, 255, 1);
$light-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-google-calendar {
  height: 430px;
  overflow: hidden;

  &.widget {
    display:block;
  }

  vertical-align: middle;

  background-color: $background-color;

  h1 {
    color: $light-color;
  }

  .event-container {
    overflow: hidden;
    padding: 10px;
    text-align: left
  }

  .title {
    color: $heavy-color;
    font-size: 1.2em;
    width: 100%;
    overflow: hidden;
    text-overflow: elipsis;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  // ----------------------------------------------------------------------------
  // day-formatting
  // ----------------------------------------------------------------------------
  .today, .tomorrow {
    font-size: 1.4em;
  }

  .today {
    background: #BD1616;
  }

  .tomorrow {
    background: #B7C117;
    color: black;
    .title {
      color: black;
    }
  }
}

