<script type='text/javascript'>
$(function() {
    Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":2,"size_y":1},{"col":1,"row":1,"size_x":6,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":5,"row":2,"size_x":2,"size_y":1}]')
    Dashing.widget_base_dimensions = [370, 340]
    Dashing.numColumns = 6
    });
</script>


<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

    <li class = "skewed_to_bot" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="google_calendar_Public_Pivotal_Seattle_Events" data-view="GoogleCalendar" style="background-color:#4183C5;"></div>
    <i class="icon-calendar icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
    <div data-view="WorldClock" class="widget widget-world-clock"></div>
    </li>

    <li class = "skewed_to_bot" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="ci_travis_cedar" data-view="Travis" data-unordered="true" data-title="Pivotal-Cedar"></div>
    </li>

    <li class = "skewed_to_bot" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="ci_travis_radar" data-view="Travis" data-unordered="true" data-title="Pivotal-ProjectMonitor"></div>
    </li>
  </ul>
</div>
