.widget.widget-world-clock {
  $dark-text: #33A;
  $dark-background: #A8A8A8;
  font-size: 35px;
  padding-top: 225px;
  padding-left: 50px;

  > ul li {
    box-sizing: border-box;
    display: inline-block;
    color: $dark-text;

    &.primary {
      font-size: 2.25em;
      margin-top: -205px;

      .location {
        margin-bottom: -10px;
      }

      .placeholder {
        background: white;
      }
    }
  }

  .hours {
    li {
      background: white;
      width: 4.16%;

      &:not(:last-child) {
        border-right: 1px solid;
      }
    }

    .dark {
      background: $dark-background;
      color: white;
    }
  }

  .locations {
    text-align: left;

    li {
      position: absolute;
    }
    .placeholder_clock {
      height: 35px;
      width: 3px;
      margin-top: 20px;
      background: $dark-background;
      -ms-transform: translate(0px, 55px);
      -webkit-transform: translate(0px, 55px);
      transform: translate(0px, 55px);
      -moz-transform: translate(0px, 55px);
    }

    .placeholder {
      height: 25px;
      width: 3px;
      background: $dark-background;
    }

    .placeholder2 {
      height: 100px;
      width: 3px;
      background: $dark-background;
    }

    .label {
      padding: 2px;
      margin: 1px;
      height: 40px;
      position: relative;
      color: lightgray;

      .location {
        margin-left: -50%;
        &.local {
          font-size: 100px;
          color: white;
        }
      }

      .minute {
        position: absolute;
        top: 0;
      }
    }

    .left {
      -ms-transform: translate(-30px, 0px);
      -webkit-transform: translate(-30px, 0px);
      transform: translate(-30px, 0px);
      -moz-transform: translate(-30px, 0px);
    }

    .right {
      -ms-transform: translate(30px, 0px);
      -webkit-transform: translate(30px, 0px);
      transform: translate(30px, 0px);
      -moz-transform: translate(30px, 0px);
    }
  }
}
